{% extends "superadmin/base.html" %}

{% block content %}

<div style="display:flex; align-items:center; justify-content:space-between;">
    
    <div style="display:flex; align-items:center; gap:10px;">
        
        <a href="/super/payments/" class="btn-approve" style="padding:6px 14px;">
            ← Back
        </a>

        <h2 style="margin:0;">Monthly Commission</h2>

    </div>

</div>

<hr>

<div class="section-card">
  <div class="section-body">

    <form method="get" action="/super/payments/invoices/">
      <div class="info-item">
        <label class="info-label">Select Month</label>

        <input
          type="month"
          name="month"
          class="sa-input"
          value="{{ selected_month }}"
        >
      </div>
      <br>

      <div style="display:flex; justify-content:space-between; align-items:center;">
      <button type="submit" class="btn-approve">
        Filter
      </button>

      <a href="/super/payments/generate/?month={{ selected_month }}" class="btn-approve">
        Generate Commission
      </a>

    </form>

    <br>
    
  </div>
</div>

<br>

<div class="section-card">
  <div class="section-body">

    <table class="sa-table">
      <thead>
        <tr>
          <th>Hotel</th>
          <th>Month</th>
          <th>Total Revenue</th>
          <th>Commission</th>
          <th>Penalty</th>
          <th>Total Pay</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      {% for p in data %}
      <tr>
        <td>{{ p.hotel.hotel_name }}</td>
        <td>{{ p.month }}/{{ p.year }}</td>
        <td>{{ p.total_revenue }}</td>
        <td>{{ p.commission_amount }}</td>
        <td>{{ p.penalty_amount }}</td>
        <td>{{ p.total_payable }}</td>

        <td>
          {% if p.status == "paid" %}
            <span class="status-LIVE">Paid</span>
          {% elif p.status == "overdue" %}
            <span class="status-REJECTED">Overdue</span>
          {% else %}
            <span class="status-PENDING">Unpaid</span>
          {% endif %}
        </td>

        <td>{{ p.due_date }}</td>

        <td>
          {% if p.status != "paid" %}
            <a href="/super/payments/mark-paid/{{ p.id }}/" class="btn-approve">
              Mark Paid
            </a>
          {% else %}
            Paid
          {% endif %}
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="9" style="text-align:center;">No commission data</td>
      </tr>
      {% endfor %}
      </tbody>

    </table>

  </div>
</div>

{% endblock %}