{% extends "superadmin/base.html" %}

{% block content %}

<h2>Monthly Commission</h2>
<hr>

<div class="section-card">
  <div class="section-body">

    <form method="get" action="/super/payments/generate/">
      <div class="info-item">
        <label class="info-label">Select Month</label>
        <input type="month" name="month" class="sa-input" required>
      </div>

      <br>

      <button type="submit" class="btn-approve">Generate</button>
    </form>

  </div>
</div>

<br>

<div class="section-card">
  <div class="section-body">

    <table class="sa-table">
      <thead>
        <tr>
          <th>Hotel</th>
          <th>Month</th>
          <th>Total Revenue</th>
          <th>Commission</th>
          <th>Penalty</th>
          <th>Total Pay</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      {% for p in data %}
      <tr>
        <td>{{ p.hotel.hotel_name }}</td>
        <td>{{ p.month }}/{{ p.year }}</td>
        <td>{{ p.total_revenue }}</td>
        <td>{{ p.commission_amount }}</td>
        <td>{{ p.penalty_amount }}</td>
        <td>{{ p.total_payable }}</td>

        <td>
          {% if p.status == "paid" %}
            <span class="status-LIVE">Paid</span>
          {% else %}
            <span class="status-PENDING">Pending</span>
          {% endif %}
        </td>

        <td>{{ p.due_date }}</td>

        <td>
          {% if p.status != "paid" %}
            <a href="/super/payments/mark-paid/{{ p.id }}/" class="btn-approve">
              Mark Paid
            </a>
          {% else %}
            Paid
          {% endif %}
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="9" style="text-align:center;">No commission data</td>
      </tr>
      {% endfor %}
      </tbody>

    </table>

  </div>
</div>

{% endblock %}