{% extends "superadmin/base.html" %}

{% block content %}

<h2>Hotel Owners Manage</h2>
<hr>

<div class="card">
  <div class="card-body">

    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      {% for o in owners %}
      <tr>
        <td>{{ o.first_name }} {{ o.last_name }}</td>
        <td>{{ o.email }}</td>

        <td>
          {% if o.is_active %}
            <span class="badge bg-success">Active</span>
          {% else %}
            <span class="badge bg-warning">Pending</span>
          {% endif %}
        </td>

        <td>
          {% if not o.is_active %}
            <a href="/super/approve-owner/{{ o.id }}/" class="btn btn-success btn-sm">Approve</a>
          {% else %}
            <a href="/super/disable-owner/{{ o.id }}/" class="btn btn-danger btn-sm">Disable</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </table>

  </div>
</div>

{% endblock %}
