{% extends "superadmin/base.html" %}

{% block content %}

<h2>Payments Management</h2>
<hr>

<div class="stat-cards">

  <!-- Generate Commission -->
  <div class="section-card">
    <div class="section-body text-center">
      <h4>Generate Monthly Commission</h4>
      <br>
      <a href="{% url 'superadmin:generate_commission' %}">
        Generate
      </a>
    </div>
  </div>

  <!-- View Invoices -->
  <div class="section-card">
    <div class="section-body text-center">
      <h4>View All Invoices</h4>
      <br>
      <a href="{% url 'superadmin:invoices' %}">
        View Invoices
      </a>
    </div>
  </div>

</div>

{% endblock %}