{% extends "superadmin/base.html" %}

{% block content %}

<h2>Reject Hotel</h2>
<hr>

<div class="card" style="max-width:600px;">
  <div class="card-body">

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label><b>Hotel:</b></label>
        <p>{{ hotel.hotel_name }}</p>
      </div>

      <div class="form-group">
        <label>Reason for rejection</label>
        <textarea name="reason" class="form-control" rows="4" required></textarea>
      </div>

      <br>
      <button type="submit" class="btn btn-danger">Reject Hotel</button>
      <a href="/super/hotels/" class="btn btn-secondary">Back</a>

    </form>

  </div>
</div>

{% endblock %}
