{% extends "superadmin/base.html" %}

{% block content %}

<h2>Reject Hotel</h2>
<hr>

<div class="section-card" style="max-width:600px;">
  <div class="section-body">

    <form method="post">
      {% csrf_token %}

      <div class="info-item">
        <label class="info-label"><b>Hotel:</b></label>
        <p class="info-value">{{ hotel.hotel_name }}</p>
      </div>

      <br>

      <div class="info-item">
        <label class="info-label">Reason for rejection</label>
        <textarea name="reason" class="sa-input" rows="4" required></textarea>
      </div>

      <br>

      <button type="submit" class="btn-approve">Reject Hotel</button>
      <a href="/super/hotels/" class="btn-approve" style="background:#475569;">Back</a>

    </form>

  </div>
</div>

{% endblock %}